<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Shogi</title>
  </head>
  <body>
    <nav id="auth-header" th:fragment="authHeader()">
      <div>
        <a th:href="@{/auth/dashboard}"> Online Shogi </a>
        <a th:href="@{/auth/dashboard}" th:text="${uname}"></a>
        <a th:href="@{/logout}">Logout</a>
      </div>
    </nav>
  </body>
</html>
